<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> عباس منصوری</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="hr">
            <a href="#" title="عباس منصوری"><h1>عباس منصوری</h1></a>
        </div>
        <div class="nav">
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
            <a href="#">صفحه اول</a>
            <a href="#">درباره ما</a>
            <a href="#">ارشیو</a>
            <a href="#">عناوین نوشته</a>
        </div>
        
    </header>
    <script src="app.js"></script>
</body>
</html>