<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> عباس منصوری</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="hr">
            <a href="#" title="عباس منصوری"><h1>عباس منصوری</h1></a>
        </div>
        <div class="nav" id="mynav">
            <a title="عباس منصوری" href="#">صفحه اصلی</a>
            
            
        
            <a title="آرشیو وبلاگ" href="">آرشیو وبلاگ</a>
            <a title="عناوین نوشته ها" href="">عناوین نوشته ها</a>
        
            <a href="javascript:void(0);" style="font-size:18px;" class="icon" onclick="showmenu()">&#9776;</a>
        </div>
    </header>
</body>
</html>