{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عناوین نوشته‌ها</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="hr">
            <a href="#" title="عباس منصوری"><h1>عباس منصوری</h1></a>
        </div>
        <div class="nav">
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
            <a href="{% url 'index' %}">صفحه اول</a>
            <a href="{% url 'archive_list' %}">آرشیو</a>
            <a href="{% url 'post_titles' %}">عناوین نوشته‌ها</a>
        </div>
    </header>
    
    <div id="wrp">
        <div id="right" class="padding">
            <div class="post">
                <div class="title">
                    <h2 style="text-align: center;">عناوین نوشته‌ها</h2>
                </div>
                <div class="content">
                    <ul class="title-list">
                        {% for post in titles %}
                            <li><a href="#">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <p>مرسی از این که من رو همراهی میکنید ^_^</p>
    </footer>
</body>
</html>
